*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins',sans-serif;
    width: 100%;
    height: 100vh;
    background:#121213;
    display: grid;
    place-items: center;  
}
 header{
    width: 85%;
    height: 95%;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;  
}
  header .menu_side,.song_side{
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background: #111727;
    box-shadow: 5px 2px 2px;  
    color: #fff; 
}  
   header .song_side{
    width: 75%;
    background:#0b1230;
    /* border: 1px solid #fff;  */
}
header .master_play{
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}    
header .menu_side_play{
    font-size: 20px;
    margin:15px 0px 0px 20px ;
    font-weight:500 ;
}
header .menu_side .playlist{
    margin:40px 0px 0px 20px ;
   
}
header .menu_side .playlist h4{
    font-size:14px ;
    font-weight: 400;
    padding-bottom: 10px;
    color:#4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover{
    color: #fff;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff; 
}
 header .menu_side .playlist h4 .bi{
    display:none ;   
}
 header .menu_side .playlist  .active{
    color: #36e2ec;  
}
 header .menu_side .playlist .active span{
    display: none;  
}
header .menu_side .playlist .active .bi{
     display: flex;
     margin-right: 20px;
}
 header .menu_side .menu_song{
    width: 100%;
    height: 400px;
    /* border: 1px solid #fff; */
    margin-top: 40px; 
    overflow: auto;
}
header .menu_side .menu_song li{
   list-style-type: none;
   position: relative;
   padding: 5px 0px 5px 20px;
   display: flex;
   align-items: center;
   margin-bottom:10px ;
   cursor: pointer;
   transition: .3s linear;
}
header .menu_side .menu_song li:hover{
  background: rgb(105, 105, 105 .1);
 }
header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262; 
} 
header .menu_side .menu_song li img{
   width: 32px;
   height: 32px;
   margin-left: 25px; 
} 
 header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
    width:170px ;
    border: 1px solid #fff; 
    overflow: hidden;
    text-overflow:ellipsis ;
    white-space: nowrap;
}  
header .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color:#4c5262 ;
}          
header .menu_side .menu_song li .bi{
    position: absolute;
    right: 15px;
}      
header .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px ;
}
header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items:flex-end ;
    margin-right: 10px;
}
 header .master_play .wave .wavel{
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}
header .master_play .wave .wavel:nth-child(2){
    height:13px;  
    margin-right: 3.5px;
    animation-delay: .4s;     
}
header .master_play .wave .wavel:nth-child(3){
    height:8px;  
    animation-delay: .8s;   
}    

/* javascript classes */
header .master_play .activel .wavel{
    animation: wave .5s linear infinite; 
}    
header .master_play .activel .wavel:nth-child(2){
    animation-delay: .4s;     
}
header .master_play .activel .wavel:nth-child(3){ 
    animation-delay: .8s;   
}

 @keyframes wave {
    0%{
        height: 10px;
    }
    0%{
        height: 15px;
    }
    0%{
        height: 15px;
    }
 }
header .master_play img{
    width: 35px;
    height: 35px;
}
header .master_play h5{
   width: 130px;
   /* border: 1px solid #fff; */
   margin-left: 15px;
   color: #fff;
   line-height:17px ;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size:13px ;
}
header .master_play h5 .subtitle{
    font-size:11px ;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .master_play .icon{
  font-size: 20px;
  color: #fff;
  margin: 0px 20px 0px 40px ;
  outline: none;
  display: flex;
  align-items: center;
 }
 header .master_play .icon .bi{
   cursor: pointer;
   outline: none;
}
header .master_play .icon .shuffle{
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
 }
 header .master_play .icon #download_music{
   font-size:20px ;
   margin-left: 10px;
 }
 header .master_play .icon .bi:nth-child(3){
    border: 1px solid rgb(105, 105, 105 .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}
header .master_play span{
    color:#fff ;
    width: 32px;
    /* border: 1px solid #fff; */
    font-size: 11px;
    font-weight:400 ;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 20px ;
}
header .master_play .bar{
    position: relative;
    width:43% ;
    height: 2px;
    background: rgb(105, 105, 170 .1);
    margin:0px 15px 0px 10px ;
}
header .master_play .bar .bar2{
    position: absolute;
    background:#36e2ec ;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear ; 
}
header .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background:#36e2ec ;
    border-radius:50% ;
    left: 0%;
    top:-1.5px;
    transition: 1s linear;
}
header .master_play .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height:15px ;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}  
header .master_play .bar input {
    position: absolute;
    width: 100%;
    top:-7;
    left:0 ;
    cursor: pointer;
    z-index:99999999999999999999 ;
    /* transition: 3s linear; */
    opacity:0 ;
}  
header .master_play .vol {
    position: relative;
    width:100px ;
  

}  